<%
# @author Darcy Branchini, Huda Khan
# @company Mann Library, Cornell University
%>
 <a href="http://dx.doi.org/<%= statement['value']||'' %>" title="DOI" target="_blank"><%= statement['value']||"" %></a>







