<%
# @author Darcy Branchini, Huda Khan
# @company Mann Library, Cornell University
%>
<% 
# Custom object property statement_data view for http://vivoweb.org/ontology/core#credentialOrHonor.  
statement_data = statement['allData'] 
linked_individual = ""
date_time_val = ""  
   
#The original had a link to credential - that may or may not be required here based on whether this is confusing for users or not
if( statement_data.has_key?("credential"))
  linked_individual = '<a href="' + get_profile_url(statement_data["credential"]) + '" title="credential name">' + (statement_data["credentialLabel"] || statement_data["issuedCredentialLabel"] || statement_data["credentialLocal"] || "") + '</a>'
else
  linked_individual = '<a href="' + get_profile_url(statement_data["issuedCredential"]) + '" title="credential name">' + (statement_data["issuedCredentialLabel"] || "") + 'missing credential</a>'
end



if( statement_data.has_key?("dateTime"))
   date_time_val = yearSpan(statement_data["dateTime"] || "") 
else
    date_time_val = yearIntervalSpan( (statement_data["dateTimeStart"] || ""), (statement_data["dateTimeEnd"] || "") )
end

display_array = [linked_individual, (date_time_val || "")]
#get rid of any nil empty strings
display_html = join_strings_reject_empty(display_array).html_safe      
      
 %>
<%= display_html%>