<%
# @author Darcy Branchini, Huda Khan
# @company Mann Library, Cornell University
%>

    <a href="<%= statement['value']||'' %>" title="ORCID iD" target="_blank"><%= statement['value']||"ORCID iD not found" %></a>






