<%
# @author Darcy Branchini, Huda Khan
# @company Mann Library, Cornell University
%>
<% statement_data = statement['allData']
if( statement_data.has_key?("grant"))
    %>
    <a href="<%= get_profile_url(statement_data["grant"]) %>" title="grant name"><%= (statement_data["grantLabel"] ||"") %></a>
    <%
else
    %>
    <a href="<%= get_profile_url(statement_dat["administratorRole"]) %>" title="grant administered by">missing grant</a>
    <%
end 
%>
