<%
# @author Darcy Branchini, Huda Khan
# @company Mann Library, Cornell University
%>
<a href="http://www.scopus.com/authid/detail.url?authorId=<%= statement['value'] %>" title="scopus link" target="_blank"><%= statement['value']||'' %></a>
